@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

:root {
    --color-j-primary: #EBEBEB;
    --color-j-secundary: #313131;
    --color-j-three: #873A3D;
    --color-j-four: #59873A;
    --montserrat: 'Montserrat', sans-serif;
    --box-shadow: #676867;
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
}

/* model */


#query_end_edad td:nth-child(2)::after {
    /* font-size: 12px; */
    font-size: 10px;
    color: var(--color-j-secundary);
}

.panel-info {
    display: flex;
    flex-direction: column;
}

.overlap-group {
    cursor: pointer;
}

.txtNotas-move.spacer-up-x2 {
    position: absolute;
}

#all_content {
    width: 30%;
    align-self: end;
    margin: 1em;
}

.query_model {
    font-family: var(--montserrat);
    background: #fff;
    display: grid;
    grid-gap: 1em;
    border-radius: 10px;
    padding: 5vh;
    box-shadow: 5px 5px 20px var(--box-shadow);

    width: 550px;
    margin: auto;
    height: fit-content;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#wrap {
    filter: blur(2px);
}

.query_model h1 {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 !important;
}

.top__two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__two button {
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    border: 0px;
    font-family: var(--montserrat);
}

.top__one button {
    padding: 0px;
    border: 0px;
    background: none;
    height: 25px;
    width: 25px;
}

[data-toggle="true"] {
    background: var(--color-j-secundary);
    color: var(--color-j-primary);
    pointer-events: none;
}

.btt_manual {
    border-radius: 1em 0 0 1em;
}

.btt_automatic {
    border-radius: 0 1em 1em 0;
}

.document-list button,
.document-pdf button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px !important;
}

.document-list svg,
.document-pdf svg {
    fill: var(--color-j-primary);
}

.check-automatic button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: none !important;
}

/* style manual & automatic */

.medium__manual,
.medium__automatic {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.medium__manual div input,
.medium__automatic div input,
.query_end div input {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--color-j-secundary);
    outline: none;
}


.medium__manual div input::placeholder,
.medium__automatic div input::placeholder,
.query_end div input::placeholder {
    font-family: var(--montserrat);
}

.medium__manual div label,
.medium__automatic div label,
.query_end div label {
    text-transform: uppercase;
    color: var(--color-j-secundary);
    margin: 0 0 0.5rem 0;
    font-size: 13px;
    padding: 0px !important;
    border: 0px !important;
}


.options_1,
.options_2 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    grid-gap: 1em;
}

.options_3 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.options_1>div,
.options_2>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textarea-multi {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.options_2 button {
    width: 100%;
    height: fit-content;
    padding: 1em;
    align-self: end;
    border: 1px solid var(--color-j-secundary);
    border-radius: 5px;
    background: var(--color-j-secundary);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-family: var(--montserrat);
    transition: all ease-in-out 0.2s;
}

.options_2 button:hover {
    background: var(--color-j-primary);
    color: var(--color-j-secundary);
    border: 1px solid var(--color-j-primary);
    transition: all ease-in-out 0.2s;
}

.query_button {
    justify-content: flex-end;
}

/* style information - service */

.date-services {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.more_information {
    grid-gap: 1em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.more_information h3 {
    color: var(--color-j-secundary);
    font-weight: 400;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.more_information p {
    margin: 0px;
    font-size: 12px;
    width: 180px;
    text-transform: uppercase;
}

.more_information button {
    border: 0px;
    background: var(--color-j-secundary);
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.more_information div {
    display: flex;
    flex-direction: row !important;
    grid-gap: 1em;
    align-items: center;
}

.date-services input {
    width: max-content;
    height: 30px;
    display: flex;
    padding: 5px !important;
    font-size: 12px;
}

.date-services span {
    text-transform: uppercase;
    margin: 0.5rem 0 0 0;
    font-size: 13px;
    color: var(--color-j-secundary);
}

.query_model .form-control,
.query_end .form-control {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    line-height: 1.1;
}

.query_model .form-control+.form-control,
.query_end .form-control+.form-control {
    margin-top: 1em;
}

.query_model .form-control--disabled,
.query_end .form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.query_model input[type="checkbox"],
.query_end input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid currentColor !important;
    border-radius: 5px !important;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.query_model input[type="checkbox"]::before,
.query_end input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-j-secundary);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.query_model input[type="checkbox"]:checked::before,
.query_end input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#textarea-multi {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--color-j-secundary);
    outline: none;
    max-height: 50px;
    max-width: 484.6px;
    min-height: 50px;
    min-width: 484.6px;
}

/* end */

.query_end {
    display: grid;
    background: #FFF;
    box-shadow: 1px 1px 20px -6px #676867;
    padding: 1em;
    border-radius: 5px;
    font-family: var(--montserrat);
    text-transform: uppercase;
    grid-template-columns: max-content;
    grid-gap: 1em;
    margin-top: 2em;
}

.query_end .more_information {
    width: 100%;
}

.query_end h3 {
    font-size: 18px;
    margin: 0.5em 0;
}

.default {
    font-size: 14px;
    font-weight: 400;
    width: auto;
}


.default td {
    padding: 0.2em;
}

.query_end h3:nth-child(2) {
    grid-row: 3;
}

#query_end_edad td:nth-child(2)::after {
    font-size: 10px;
    display: flex;
    position: absolute;
    color: var(--color-j-secundary);
}

/* icons */

.documents-icons {
    margin: 2em 0;
}

.document-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: var(--montserrat);
}

.document-options span {
    text-transform: uppercase;
    font-weight: 600;
}

.document-options a svg {
    pointer-events: none;
}

.document-options a {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background: var(--color-j-three);
    border-radius: 5px;
    cursor: pointer;
}

.document-options a svg path {
    fill: white;
}

.document-options.icon-load a {
    background: #BD6530;
}

.document-options.icon-load:hover a {
    background: #974E22;
}

.document-options.icon-nap a {
    background: #3A5887;
}

.document-options.icon-nap:hover a {
    background: #253B5E;
}

.document-options:hover a {
    background: #602729;
}

.documents-icons {
    display: flex;
    grid-gap: 1em;
}

.documents-icons.document-options:nth-child(3)>a:nth-child(1)>svg:nth-child(1)>rect:nth-child(2) {
    stroke: var(--color-j-primary);
}


.documents-icons.document-options:nth-child(3)>a:nth-child(1)>svg:nth-child(1)>path:nth-child(3) {
    stroke: var(--color-j-primary);
}


.document-options.icon-pdf-2::before {
    content: '#02';
    font-size: 10px;
    position: absolute;
    transform: translate(-10px, -13px);
}

.document-options.icon-pdf::before {
    content: '#01';
    font-size: 10px;
    position: absolute;
    transform: translate(-10px, -13px);
}

/* // table */

.table_scroll {
    font-family: monospace;
    width: max-content;
    padding: 1em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px -6px #5b5b5b;
    font-size: 12px;
}

/*Div Table Setting*/
.css_table {
    position: relative;
    width: 100%;
}

.css_tr {
    display: table-row;
}

.css_tr:nth-child(even) .css_td {
    background: #f5f5f5;
}

.css_tr:nth-child(odd) .css_td {
    background: #fff;
}

.css_td,
.css_th,
.css_sd {
    display: table-cell;
    padding: 8px 10px;
    white-space: nowrap;
    border-bottom: 0.2px solid #fff;
    border-right: 0.2px solid #fff;
}

.css_thead {
    display: table-header-group;
    font-weight: bold;
    z-index: 1;
}

.css_tfoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
}

.css_tbody {
    display: table-row-group;
}

/*Table Header Fixed */
.css_th,
.css_sd {
    position: sticky;
    color: #000;
}

.css_th {
    top: 0;
}

.css_sd {
    left: 0;
}

.css_thead div.css_th:first-child,
.css_tfoot div.css_th:first-child {
    left: 0;
    z-index: 1;
}

.css_tfoot .css_th {
    bottom: 0
}

/*Responsive Div Table*/
@media screen and (max-width: 650px) {
    .css_table {
        border: 0;
    }

    .css_table .css_thead,
    .css_table .css_tfoot {
        display: none;
    }

    .css_table .css_tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .css_table .css_td,
    .css_table .css_sd {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
        border-left: 1px solid #ddd;
    }

    .css_table .css_td:last-child {
        border-bottom: 0;
    }

    .css_table .css_td:before,
    .css_table .css_sd:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table_scroll {
        margin: 0;
        height: auto !important;
    }

    .css_tr:nth-child(even) .css_td {
        background: #fff;
    }
}

[data-label="ex"] button {
    border: 0px;
    background: none;
    width: 20px;
    padding: 0px;
    transition: all ease-in-out 0.5s;
    fill: #000;
}

[data-label="ex"] button:hover svg {
    fill: var(--color-j-three);
    transition: all ease-in-out 0.5s;
}

[data-label="status"] [data-label="re"],
[data-label="status"] [data-label="ad"] {
    color: white;
    padding: 0 1em;
    border-radius: 2px;
    width: 100%;
    display: block;
    height: min-content;
    line-height: 13px;
}

[data-label="status"] [data-label="re"] {
    background: var(--color-j-three);
}

[data-label="status"] [data-label="ad"] {
    background: var(--color-j-four);
}

[data-label="re"] {
    color: var(--color-j-three);
}

[data-label="ad"] {
    color: var(--color-j-four);
}